* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1920px; min-width: 300px;
    border: 1px solid #000;
    margin: auto;
}

header {
    width: 100%; height: 3.5em;
    display: flex;
    align-items: center;
    /* background-color: #FDC435; */
    /* justify-content: space-between; */
    /* padding: 0 5rem; */
    /* border: 1px solid red; */
}

header .title, header .navigation-menu {
    height: 100%;
    background-color: #FDC435;
}

header .title {
    width: 60%; 
    display: flex;
    align-items: center;
    /* padding-left: 3.5rem; */
}

header h1 {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 200;
    margin-left: 3.5em;
}

header .navigation-menu {
    width: 40%; 
}

header .navigation-menu nav {
    width: 100%; height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

header .navigation-menu nav ul {
    width: 100%;
    text-align: center;
}

header .navigation-menu nav ul {
    display: flex;
}

header .navigation-menu nav ul li {
    list-style: none;
    flex: 1;
}

header .navigation-menu nav ul li a {
    text-underline-offset: .5rem;
    font-size: 1.1rem;
    color: #000;
}

header .navigation-menu nav ul li a:hover {
    color: #fff;
}

header .navigation-menu .menu {
    display: none;
}

header .navigation-menu .menu > .bar {
    display: block;
}





main {
    width: 100%; height: 100%;
    display: flex;
}

main .person {
    width: 60%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .person .content {
    width: 70%; height: 70%;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    gap: 1rem;
}

.person .content h2 {
    font-weight: 100;
    font-size: 1.5rem;
    color: #FDC435;
}

.person .content p:nth-child(2) {
    font-size: 4rem;
    font-weight: bold;
}

.person .content p:nth-child(3) {
    font-size: large;
    color: #828282;
}

.person .content .extra-action {
    margin-top: 1rem;
}

.person .content .extra-action button {
    padding: .5rem 2rem;
    border-radius: 5px;
    border: 2px solid #000;
}

.person .content .extra-action .projects-button {
    background-color: #FDC435;
    border: 2px solid #FDC435;
}





.person-image {
    width: 40%; height: 100vh;
    overflow: hidden;
}

.person-image img {
    width: 100%; height: 100%; 
    object-fit: cover;
}




footer {
    width: 100%; height: 20vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: #efefef;
}

footer .footer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;  
}

footer .footer-content .social-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

footer .footer-content .social-icons img {
    width: 1.5rem;
    border-bottom: 2px solid #efefef;
}

footer .footer-content .social-icons img:hover {
    border-bottom: 2px solid #FDC435;
}

footer p {
    border-bottom: 1px solid #828282;
    color: #828282;
}

@media(max-width:768px) {

    html {
        font-size: small;
    }

    header .title h1 {
        margin-left: 1.8em;
    }

    header .navigation-menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    header .navigation-menu nav {
        display: none;
    }

    header .navigation-menu .menu {
        width: 10%; height: 40%;
        min-width: 25px; 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 1rem;
        cursor: pointer;
        /* background-color: red; */
    }

    header .navigation-menu .menu .bar {
        /* width: 100%; */
        border: .09em solid #000;
    }

    header .navigation-menu .menu:hover .bar{
        border: .1em solid #fff;
    }


    main {
        flex-direction: column;
    }

    main .person {
        width: 100%; 
        padding: 3rem 0;
    }

    main .person .content {
        align-items: center;
        text-align: center;
    }

    main .person-image {
        width: 100%; height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 3rem;
    }

    main .person-image img {
        width: 90%; height: 90%;
        object-fit: contain;
    }
}

@media (max-width: 530px) {
    html {
        font-size: x-small;
    }

    main .person-image img {
        width: 80%; height: 80%;
    }
}

@media (max-width: 425px) {
    html {
        font-size: xx-small;
    }

    main .person-image img {
        width: 70%; height: 70%;
    }
}